<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>아이디 찾기 결과</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <link rel="stylesheet" href="/css/fullpage.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/re.css">
    <link rel="stylesheet" href="/css/etc.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ui_content.css">
    <style>
        .con {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>


</head>
<body>
<div id="wrapper">
    <!-- 내비게이션 바 -->
    <header id="header" class>
        <div class="head_box">
            <h1 class="logo"><a href="/main/main">마음을 나누는 교실</a></h1>
            <button type="button" class="btnMenu"><span>메뉴</span></button>
            <!-- gnb -->
            <nav id="gnb">
                <ul class="gnb">

                    <li>
                        <a href="/notice/noticeList"><span>공지사항</span></a>
                        <ul>
                            <li><a href="/notice/noticeList">공지사항</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="/center/center"><span>상담센터</span></a>
                        <ul>
                            <li><a href="/center/center">상담센터</a></li>


                        </ul>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <a href="#"><span>온라인 상담</span></a>
                        <ul>

                            <li><a href="/online/calendar">예약</a></li>

                        </ul>
                    </li>
                    <!--<li>
                        <a href="#"><span>고객센터</span></a>
                        <ul>
                            <li><a href="#">고객센터</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </li>-->
                </ul>
            </nav>
            <!-- //gnb -->
            <div class="topGlob" th:if="${session.SS_USER_NAME == null}">
                <ul>
                    <li><a href="/user/userRegForm">회원가입</a></li>
                    <li><a href="/user/login">로그인</a></li>
                </ul>
            </div>
            <div class="topGlob" th:if="${session.SS_USER_NAME != null}">
                <p th:text="'안녕하세요, ' + ${session.SS_USER_NAME} + '님!'"></p>
                <a href="/user/logout">로그아웃</a>
            </div>

            <nav id="mGnb">
                <button type="button" class="btnClose"><span>닫기</span></button>
                <div class="mbTop">
                    <div class="mlogo"><a href="/main/main"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="/user/userRegForm">회원가입</a></li>
                        <li><a href="/user/login">로그인</a></li>
                    </ul>
                </div>
                <ul>

                    <li class="has-sub">
                        <a href="/notice/noticeList">공지사항</a>
                        <ul>
                            <li><a href="/notice/noticeList">공지사항</a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/center/center">상담센터</a>
                        <ul>
                            <li><a href="/center/center">상담센터</a>
                            </li>
                            <li></a>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">온라인 상담</a>
                        <ul>
                            <li><a href="#">이용방법 </a>
                            </li>
                            <li><a href="/online/calendar">예약</a>
                            </li>
                        </ul>
                    </li>
                    <!--<li>
                        <a href="#"><span>고객센터</span></a>
                        <ul>
                            <li><a href="#">고객센터</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </li>-->
                </ul>
            </nav>
            <div class="fix_bg"></div>
        </div>
    </header>
    <!-- // 내비게이션 바 -->
    <div id="subContainer">
        <div class="subSkin bg"></div>
        <nav id="lnb">
            <div class="area_subVisual">
                <div class="inner">
                    <div class="lnb pc">
                        <div class="home">
                            <a href="/main/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="/user/userRegForm" title="회원가입">회원가입</a>
                            </li>
                            <li>
                                <a href="/user/login" title="로그인">로그인</a>
                            </li>
                            <li>
                                <a href="#" title="로그아웃">로그아웃</a>
                            </li>
                            <li>
                                <a href="/user/searchUserId" title="아이디찾기">아이디찾기</a>
                            </li>
                            <li>
                                <a href="/user/searchPassword" title="비밀번호찾기">비밀번호찾기</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lnb mobile">
                        <div class="home">
                            <a href="/main/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <div class="large">회원</div>

                        <div class="small">
                            <span data-mobile-tit="">로그인</span>
                            <ul>
                                <li>
                                    <a href="/user/userRegForm" title="회원가입">회원가입</a>
                                </li>
                                <li>
                                    <a href="/user/login" title="로그인">로그인</a>
                                </li>
                                <li>
                                    <a href="#" title="로그아웃">로그아웃</a>
                                </li>
                                <li>
                                    <a href="/user/searchUserId" title="아이디찾기">아이디찾기</a>
                                </li>
                                <li>
                                    <a href="/user/searchPassword" title="비밀번호찾기">비밀번호찾기</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="content">
            <h1 class="title">아이디 찾기 결과</h1>
            <div class="sContent">
                <form id="f">
                    <div class="con">
                        <div id="result" class="">[[${rDTO.userName}]] 회원님의 아이디는 [[${rDTO.userId}]] 입니다.</div>
                        <br>
                        <input type="button" id="btnLogin" class="btn"
                               style="background-color: lightseagreen; color: white"
                               value="로그인">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<section id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="copyright">
                    <p>마음을 나누는 교실<span><a href="">&#9798;</a></span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="designer">
                </div>
            </div>
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>
</body>
<script type="text/javascript">
    // HTML로딩이 완료되고, 실행됨
    $(document).ready(function () {
        // 로그인 화면 이동
        $("#btnLogin").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            location.href = "/user/login";
        })

        let msg = '';
        let userId = [[${rDTO.userId}]];
        let userName = [[${rDTO.userName}]];
        if (userId.length > 0) {
            msg = userName + " 회원님의 아이디는 " + userId + "입니다.";
        } else {
            msg = "아이디가 존재하지 않습니다.";
        }

        const element = document.getElementById('result');
        element.innerText = msg;
    })
</script>
</html>