<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호 찾기</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <link rel="stylesheet" href="/css/fullpage.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/re.css">
    <link rel="stylesheet" href="/css/etc.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ui_content.css">

    <script type="text/javascript">

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            // 로그인 화면 이동
            $("#btnLogin").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                location.href = "/user/login";
            })

            // 비밀번호  찾기
            $("#btnSearchPassword").on("click", function () {
                let f = document.getElementById("f"); // form 태그

                if (f.userId.value === "") {
                    alert("아이디를 입력하세요.");
                    f.userId.focus();
                    return;
                }

                if (f.userName.value === "") {
                    alert("이름을 입력하세요.");
                    f.userName.focus();
                    return;
                }

                if (f.email.value === "") {
                    alert("이메일을 입력하세요.");
                    f.email.focus();
                    return;
                }

                f.method = "post"; // 비밀번호 찾기 정보 전송 방식
                f.action = "/user/searchPasswordProc" // 비밀번호 찾기 URL

                f.submit(); // 아이디 찾기 정보 전송하기
            })
        })
    </script>
</head>
<body>
<div id="wrapper">
    <!-- 내비게이션 바 -->
    <header id="header" class>
        <div class="head_box">
            <h1 class="logo"><a href="/main/main">마음을 나누는 교실</a></h1>
            <button type="button" class="btnMenu"><span>메뉴</span></button>
            <!-- gnb -->
            <nav id="gnb">
                <ul class="gnb">
                    <li>
                        <a href="#"><span>소개</span></a>
                        <ul>
                            <li><a href="#">인사말</a></li>
                            <li><a href="#">개요</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/notice/noticeList"><span>공지사항</span></a>
                        <ul>
                            <li><a href="/notice/noticeList">공지사항</a></li>
                            <li><a href="#">상담일정</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/center/ctCenter"><span>지역센터</span></a>
                        <ul>
                            <li><a href="/center/ctCenter">지역 상담센터</a></li>
                            <li><a href="#">경기 보호지원센터</a></li>
                            <li><a href="#">교원 치유지원센터</a></li>
                        </ul>
                    </li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>
                        <a href="#"><span>온라인 상담</span></a>
                        <ul>
                            <li><a href="#">이용방법</a></li>
                            <li><a href="#">예약</a></li>
                            <li><a href="#">참가하기</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span>고객센터</span></a>
                        <ul>
                            <li><a href="#">고객센터</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- //gnb -->
            <div class="topGlob" th:if="${session.SS_USER_NAME == null}">
                <ul>
                    <li><a href="/user/userRegForm">회원가입</a></li>
                    <li><a href="/user/login">로그인</a></li>
                </ul>
            </div>
            <div class="topGlob" th:if="${session.SS_USER_NAME != null}">
                <p th:text="'안녕하세요, ' + ${session.SS_USER_NAME} + '님!'"></p>
                <a href="/user/logout">로그아웃</a>
            </div>

            <nav id="mGnb">
                <button type="button" class="btnClose"><span>닫기</span></button>
                <div class="mbTop">
                    <div class="mlogo"><a href="#"><img src="/img/logo.png"></a></div>
                    <ul>
                        <li><a href="/user/userRegForm">회원가입</a></li>
                        <li><a href="/user/login">로그인</a></li>
                    </ul>
                </div>
                <ul>
                    <li class="has-sub">
                        <a href="#">소개</a>
                        <ul>
                            <li><a href="#">인사말</a>
                            </li>
                            <li><a href="#">개요</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/notice/noticeList">공지사항</a>
                        <ul>
                            <li><a href="/notice/noticeList">공지사항</a>
                            </li>
                            <li><a href="#">상담일정</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="/center/ctCenter">지역센터</a>
                        <ul>
                            <li><a href="/center/ctCenter">지역 상담센터</a>
                            </li>
                            <li><a href="#">경기 보호지원센터</a>
                            </li>
                            <li><a href="#">교원 치유지원센터</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">온라인 상담</a>
                        <ul>
                            <li><a href="#">이용방법 </a>
                            </li>
                            <li><a href="#">예약</a>
                            </li>
                            <li><a href="#">참가하기</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">고객센터</a>
                        <ul>
                            <li><a href="#">문의 남기기</a>
                            </li>
                            <li><a href="#">참가하기</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="fix_bg"></div>
        </div>
    </header>
    <!-- // 내비게이션 바 -->
    <div id="subContainer">
        <div class="subSkin bg"></div>
        <nav id="lnb">
            <div class="area_subVisual">
                <div class="inner">
                    <div class="lnb pc">
                        <div class="home">
                            <a href="/main/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="/user/userRegForm" title="회원가입">회원가입</a>
                            </li>
                            <li>
                                <a href="/user/login" title="로그인">로그인</a>
                            </li>
                            <li>
                                <a href="#" title="로그아웃">로그아웃</a>
                            </li>
                            <li>
                                <a href="/user/searchUserId" title="아이디찾기">아이디찾기</a>
                            </li>
                            <li>
                                <a href="/user/searchPassword" title="비밀번호찾기">비밀번호찾기</a>
                            </li>
                        </ul>
                    </div>
                    <div class="lnb mobile">
                        <div class="home">
                            <a href="/main/main"><img src="/img/icon_home.png" alt="홈"></a>
                        </div>
                        <div class="large">회원</div>

                        <div class="small">
                            <span data-mobile-tit="">로그인</span>
                            <ul>
                                <li>
                                    <a href="/user/userRegForm" title="회원가입">회원가입</a>
                                </li>
                                <li>
                                    <a href="/user/login" title="로그인">로그인</a>
                                </li>
                                <li>
                                    <a href="#" title="로그아웃">로그아웃</a>
                                </li>
                                <li>
                                    <a href="/user/searchUserId" title="아이디찾기">아이디찾기</a>
                                </li>
                                <li>
                                    <a href="/user/searchPassword" title="비밀번호찾기">비밀번호찾기</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="content">
            <h1 class="title">비밀번호 찾기</h1>
            <div class="sContent">
                <div id="cms_member_article">
                    <form id="f">
                        <table class="writeTypeA mt10">
                            <caption>비밀번호 찾기</caption>
                            <colgroup>
                                <col style="width:18%">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row"><label class="required"><span>아이디</span></label></th>
                                <td>
                                    <input type="text" name="userId" id="userId" class="inputTxt  w30"
                                           style="ime-mode:disabled;" maxlength="6"
                                           required="required" value="">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label class="required"><span>이름</span></label></th>
                                <td>
                                    <input type="text" name="userName" id="userName" class="inputTxt  w30"
                                           style="ime-mode:disabled;" maxlength="6"
                                           required="required" value="">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label class="required"><span>이메일</span></label></th>
                                <td>
                                    <input type="text" name="userName" id="email" class="inputTxt  w30"
                                           style="ime-mode:disabled;" maxlength="6"
                                           required="required" value="">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- btnset -->
                        <div class="btnWrap">
                            <span class="btnBc green w"><button class="btn1" id="btnSearchPassword" type="button">비밀번호 찾기</button></span>
                            <span class="btnBc black w"><button type="button" id="btnLogin"
                                                                title="취소">취소</button></span>
                        </div>
                        <!-- //btnset -->
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<section id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="copyright">
                    <p>마음을 나누는 교실<span><a href="">&#9798;</a></span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="designer">
                </div>
            </div>
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>
</body>
</html>

