.box-mini {
    width: calc(30% - 22px); /* (40% - (2 * (1% margin + 1px border + 10px padding))) */
    margin: 1%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
}

.box {
    width: calc(38% - 22px); /* (48% - (2 * (1% margin + 1px border + 10px padding))) */
    margin: 1%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
}

.containermapts {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    flex-wrap: wrap;
}

.searchBox {
    display: flex;
    justify-content: space-between; /* 좌우 정렬을 위해 사용 */
    align-items: center; /* 세로 중앙 정렬 */
}

.searchBox ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.searchBox li {
    margin-right: 10px;
}