<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.IResMapper">

    <insert id="insertReservation" parameterType="ResDTO">
        INSERT INTO RESERVATION
            (RES_DATE, ID, EMAIL, START_TIME, END_TIME, CONTENTS)
        VALUES (#{reservedDate}, #{userId}, #{email}, #{startTime}, #{endTime})
    </insert>

    <select id="getReservationList" resultType="ResDTO">
        SELECT RES_ID,
               DATE_ID,
               USER_ID,
               START_TIME,
               END_TIME,
               CONTENTS
        FROM RESERVATION
    </select>

    <select id="getReservationInfo" resultType="ResDTO">
        SELECT RES_ID,
               DATE_ID,
               USER_ID,
               START_TIME,
               END_TIME,
               CONTENTS
        FROM RESERVATION
        WHERE DATE_ID = #{dateId}
    </select>
</mapper>